*.class
*.jar
out/lib/pom.xml
out/lib/*.pom

# Package Files #
Scrabble*/target/*
Scrabble*/.project
Scrabble*/.classpath
Scrabble*/.wtpmodules
UserInteractions/target/*
UserInteractions/.project
UserInteractions/.classpath
UserInteractions/.wtpmodules
*.iml
.idea
!.idea/runConfigurations
